body {
  background-color: #000000;
}

p {
  color: #ffffff;
}

a:link, a:visited {
  color: #ffff00;
}

.title {
  color: #ffffff;
}

.canvas-holder {
  width: 100%; 
  text-align:center; 
  margin: auto; 
}